:root {
    --background-color: #001485;
    --text-color: #ffffff;
}

header {
    top: 0;
    height: 45px;
    border-bottom: 2px solid var(--text-color); 
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}